@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.8)),url('bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
}

.logo-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    color: #0A00DB;
    margin: 1rem;
}

.logo-container p {
    color: white;
    font-size: 2rem;
    text-shadow: 1px 1px 1px rgb(134, 0, 134);
    font-family: 'Nerko One', cursive;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: rgba(10, 0, 219, 0.1);
    align-items: center;
    margin: 30px auto;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}

.nav-link {
    font-size: 20px;
    padding: 20px;
    font-family: 'Nerko One', cursive;
}

.nav-link:hover {
    background-color: rgba(46, 12, 247,0.2);
}

.nav-link a:hover {
    color: rgb(235, 10, 223);
    transition: .3s linear;
}

.nav-link a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.main-container {
    height: 60vh;
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
}

.main-container h1 {
    color: #0CA8E8;
}

.init {
    color: #0CA8E8;
}

.toggle-button {
    position: absolute;
    top: 3.35rem;
    right: 5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media all and (max-width: 480px) {
    .nav-link {
        font-size: 10px;
    }

    .toggle-button {
        display: flex;
    }
    .nav-links {
        display: none;
    }
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-links {
        width: 100%;
        flex-direction: column;
    }

    .nav-links.active {
        display: flex;
    }

    nav {
        width: 100%;
    }

    .nav-link {
        font-size: 20px;
        text-align: center;
    }
    .nav-link a {
        padding: .5rem 1rem;
    }
}

@media all and (min-width: 481px) and (max-width: 740px) {
    body {
        height: 100rem;
        width: 40rem;
        overflow: scroll;
    }
    main {
        width: 40rem;
        text-align: center;
        margin: auto;
    }
    .nav-link {
        font-size: 16px;
    }
    .item1 {
        margin-top: 40px;
        color: white;
        grid-column: 1 / 1;
        border-radius: 80px;
    }
    
    .item2 {
        margin-top: 40px;
        color: white;
        grid-column: 1 / 1;
        border-radius: 80px;
    }

    .item2 h2 {
        margin-bottom: 40px;
    }
}