@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.8)),url('bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
}

#darken {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: all .3s ease;
}

.shade {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    transition: all .3s ease;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to right,#0014a8, black);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: fadeout 2s;
    animation-fill-mode: forwards;
}

.loader h1 {
    position: relative;
    font-family: 'Press Start 2P', cursive;
    font-size: 80px;
    margin-top: 60px;
    color: #0014a8;
    -webkit-text-stroke: 0.1vw black;
    
}

h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 0vw black;
    overflow: hidden;
    animation: animate 2s linear infinite;
    
}

@keyframes animate {
    0%,10%,100% {
        width: 0;
    }
    70%, 90% {
        width: 100%;
    }
}

@keyframes fadeout {
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}



header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 30px auto;
}

header p {
    color: white;
    font-family: 'Nerko One', cursive;
    font-size: 30px;
}

nav {
    position: absolute;
    top: 0;
    right: -400px;
    background-color: rgba(46, 12, 247,0.2);
    width: 10vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 2;
    transition: all .2s linear;
}

nav i {
    color: white;
    padding: 2px 5px;
    margin-top: 40px;
    margin-left: 20px;
    cursor: pointer;
}

nav i:hover {
    color: mediumblue;
    transition: all .3s linear;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-direction: column;
}

.nav-link {
    font-size: 20px;
    padding: 20px;
    font-family: 'Nerko One', cursive;
    
}

.nav-link::after {
    content: '';
    display: block;
    width: 200px;
    height: 10px;
    border-bottom: .5px solid black;
}

.nav-link:hover {
    background-color: rgba(46, 12, 247,0.2);
}

.nav-link a:hover {
    color: rgb(235, 10, 223);
    transition: .3s linear;
}

.nav-link a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    

}

.main-container {
    height: 60vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    flex-direction: column;
}

.main-container h1 {
    color: #0CA8E8;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    color: #0A00DB;
    margin: 1rem;
}

.logo-container p {
    color: white;
    font-size: 2rem;
    text-shadow: 1px 1px 1px rgb(134, 0, 134);
    font-family: 'Nerko One', cursive;
}

.init {
    color: #0CA8E8;
}

.toggle-button-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .4s ease;
}

.toggle-button-container p:hover {
    color: lightskyblue;
}

.toggle-button .bar {
    background-color: lightskyblue;
}

.toggle-button {
    /* position: absolute;
    top: 3.35rem;
    right: 5rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
    margin: 20px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.reveal {
    position: absolute;
    right: 0;
}

@media all and (max-width: 480px) {
    .loader {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
    .loader h1 {
        font-size: 30px;
    }
    

    .toggle-button {
        display: flex;
    }
    .pop {
        display: flex;
    }
    .reveal {
        position: absolute;
        right: 0;
    }
    nav {
        width: 80vw;
        display: none;
    }
    body {
        overflow: hidden;
    }


}

@media all and (min-width: 481px) and (max-width: 740px) {
    body {
        height: 100rem;
        width: 40rem;
        overflow: scroll;
    }
    main {
        width: 40rem;
        text-align: center;
        margin: auto;
    }
    .nav-link {
        font-size: 16px;
    }
    .item1 {
        margin-top: 40px;
        color: white;
        grid-column: 1 / 1;
        border-radius: 80px;
    }
    
    .item2 {
        margin-top: 40px;
        color: white;
        grid-column: 1 / 1;
        border-radius: 80px;
    }

    .item2 h2 {
        margin-bottom: 40px;
    }
}